In [1]:
display(df_baking["rooms"].max())
display(df_baking["rooms"].min())
display(df_baking["rooms"].mean())
display(df_baking["rooms"].isna().sum())

display(df_baking["rooms"].describe())

NameError: name 'df_baking' is not defined

In [ ]:
df_baking["rooms"].isna().sum() / df_baking.shape[0]

In [ ]:
#Tabla con multiples series, hayamos su valor minimo y maximo 
display(df_baking[["rooms","bathrooms"]].min()) 
display(df_baking[["rooms","bathrooms"]].max())

In [ ]:
#Imprimimos una tabla unicamente con los datos de categoria (Category)
df_baking.describe(include = "category")
#Tabla transpuesta con el metodo .T
df_baking.describe(include="category").T

NameError: name 'df_baking' is not defined

In [ ]:
#Filtros 
df_baking [ df_baking["bathrooms"] > 10]
df_baking [ df_baking["price"] == 0 ]
df_baking["price"].mean()
df_baking[ df_baking["price"] != 0 ]["price"].mean()
df_baking[ df_baking["price"] != 0 ]["price"].median()
df_baking[ df_baking["realestate_name"] == "engel volkers madrid" ]
df_baking[(df_baking["price"] != 0) & (df_baking["price"] < 282048)]["price"].mean()

In [15]:
import pandas as pd 

my_df = pd.DataFrame(
    {
        "country":["Spain","Spain","Spain","Spain","Spain"],
        "city":["Madrid","Madrid","Madrid","Galicia","Galicia"],
        "numbers":[3,4,5,7,9]

    }
)
my_df

  country     city  numbers
0   Spain   Madrid        3
1   Spain   Madrid        4
2   Spain   Madrid        5
3   Spain  Galicia        7
4   Spain  Galicia        9

In [16]:
my_df.groupby("city")["numbers"].mean()

city
Galicia    8.0
Madrid     4.0
Name: numbers, dtype: float64

In [19]:
my_df.groupby("city")["numbers"].min()

city
Galicia    7
Madrid     3
Name: numbers, dtype: int64